$border-radius-body: 8px;
$border-radius-compact: 3px;

$project-list-category-color: #d9d8d1;

@import "gitweb/_global.sass";

@import "gitweb/_commit_log.sass";
@import "gitweb/_diff.sass";
@import "gitweb/_project_list.sass";
@import "gitweb/_profile_images.sass";
@import "gitweb/_ref_markers.sass";
@import "gitweb/_rss_buttons.sass";
@import "gitweb/_summary.sass";
@import "gitweb/_tree.sass";
